@import url(https://fonts.googleapis.com/css2?family=Flavors&display=swap);
$fontPestTitle: 'Flavors', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap);
$fontDetail: 'Roboto Flex', sans-serif;

@import url(https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap);
$fontTitle: 'Hanuman', serif;