@import url(https://fonts.googleapis.com/css2?family=Flavors&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap);
#siteHeader {
  display: flex;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 120px;
  background: white;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#siteHeader img {
  height: 95%;
  width: auto;
}
#siteHeader img:hover {
  cursor: pointer;
}
#siteHeader h1 {
  transition: all 0.3s ease-out;
}

#siteHeader.shrink {
  height: 60px;
  padding: 5px 10px;
}
#siteHeader.shrink h1 {
  transform: scale(0.95); /* optional mini effect */
}

main {
  background-image: radial-gradient(circle, #fbb32d, #fc6107);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #spacer {
  font-size: 1px;
}
main #intro {
  margin-top: 120px;
}
main #imageBlendSection {
  display: flex;
  justify-content: space-between;
  height: 55vw;
  width: 80vw;
  margin: 10vh;
  background-color: #030301;
  border-radius: 1vw;
}
main #imageBlendSection #blendSectionText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fffcff;
}
main #imageBlendSection #blendSectionText p {
  max-width: 80%;
}
main #imageBlendSection img {
  height: auto;
  width: 50%;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  -webkit-mask-image: linear-gradient(to left, black 60%, transparent 100%);
  mask-image: linear-gradient(to left, black 60%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
main #services {
  min-height: 1000px;
  width: 100%;
  background: linear-gradient(to bottom, #fffcff 0%, #fffcff 20%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 70%, #fffcff 100%), url(images/docWindow-short.webp) no-repeat;
  background-size: cover;
  background-position: 0px center;
}
main #services ul {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
main #services ul img {
  width: 5vw;
  height: auto;
  -webkit-mask-image: linear-gradient(300 deg, black 50%, transparent 100%);
  mask-image: linear-gradient(300deg, black 50%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
main #servicesDetailed {
  padding: 20px 0px;
  background-color: #fffcff;
  width: 100%;
}
main #servicesDetailed .gridLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  margin: 10px;
}
main #servicesDetailed .gridLayout .pest:nth-child(1),
main #servicesDetailed .gridLayout .pest:nth-child(2) {
  grid-column: span 2;
}
main #servicesDetailed .pest {
  background-color: #8f8f8f;
  height: 20vw;
  margin: 10px;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}
main #servicesDetailed .pest h3 {
  font-family: "Flavors", sans-serif;
  font-size: 4vw;
  color: #fffcff;
  text-shadow: #030301 0px 0px 10px;
  transform: translateY(4vw);
  transition: transform 0.4s ease;
}
main #servicesDetailed .pest p {
  opacity: 0;
  margin-top: 20px;
  width: 70%;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.5vw;
  color: #fffcff;
  text-shadow: #030301 0 0 10px, #030301 0 0 10px;
  text-align: center;
  line-height: 1.2em;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
}
main #servicesDetailed .pest:hover h3 {
  transform: translateY(0);
}
main #servicesDetailed .pest:hover p {
  opacity: 1;
  transform: translateY(0);
}
main #servicesDetailed .pest.visible {
  opacity: 1;
  transform: translateY(0);
}
main #servicesDetailed #residential {
  background-image: url("./images/bugs/residential.webp");
  background-size: cover;
}
main #servicesDetailed #commercial {
  background-image: url("./images/bugs/commercial.webp");
  background-size: cover;
}
main #servicesDetailed #rodent {
  background-image: url("./images/bugs/rodent.webp");
  background-size: cover;
}
main #servicesDetailed #wasp {
  background-image: url(./images/bugs/wasp.webp);
  background-size: cover;
}
main #servicesDetailed #cockroach {
  background-image: url("./images/bugs/cockroach.webp");
  background-size: cover;
}
main #servicesDetailed #ant {
  background-image: url("./images/bugs/ant.webp");
  background-size: cover;
}
main #servicesDetailed #scorpion {
  background-image: url("./images/bugs/scorpion.webp");
  background-size: cover;
}
main #servicesDetailed #silverfish {
  background-image: url("./images/bugs/silverfish.webp");
  background-size: cover;
}
main #servicesDetailed #spider {
  background-image: url("./images/bugs/spider.webp");
  background-size: cover;
}
main #servicesDetailed #mosquito {
  background-image: url("./images/bugs/mosquito.webp");
  background-size: cover;
}
main #contactUs {
  width: 100%;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffcff;
}
main #contactUs h2 {
  margin: 10vh;
  font-size: 40px;
}
main #contactUs #mapWithText {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
main #contactUs #mapWithText img {
  width: 40%;
}
main #contactUs #mapWithText div {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main #contactUs #mapWithText div h3 {
  font-size: 30px;
}
main #faq {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #faq h2 {
  font-size: 40px;
  margin-top: 1.2em;
}
main #faq dl {
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 40px;
  margin: 40px 0px;
  background-image: radial-gradient(#fbb32d, #fc6107);
  border: #030301 solid 2px;
  border-radius: 1vw;
  box-shadow: rgba(0, 0, 0, 0.411) 3px 5px 10px;
}
main #faq dl dt {
  margin-left: 5%;
  margin-bottom: 10px;
}
main #faq dl dd {
  margin: 0px 10%;
}
main #faq dl .faqBreak {
  height: 5px;
  border-radius: 1vw;
  background-color: #030301;
  margin: 30px 0px;
  width: 5vw;
  align-self: center;
  transition: width 1s ease;
}
main #faq dl > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
main #faq dl > *.visible {
  opacity: 1;
  transform: translateY(0);
}
main #faq .faqBreak.visible {
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
}
footer p span {
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
