$yellowColor: #fbb32d;
$orangeColor: #fc6107;
$blackColor: #030301;
$grayColor: #8f8f8f;
$whiteColor: #fffcff;

$borderRadius: 1vw;

#siteHeader {
  display: flex;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 120px;
  background: white;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  img {
    height: 95%;
    width: auto;
  }
  img:hover {
    cursor: pointer;
  }
  h1 {
    transition: all .3s ease-out;
  }
}
#siteHeader.shrink {
  height: 60px;
  padding: 5px 10px;
  h1 {
    transform: scale(0.95); /* optional mini effect */
  }
}
main {
  // height: 200vh;
  background-image: radial-gradient(circle, $yellowColor, $orangeColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  #spacer {
    font-size: 1px;
  }
  #intro {
    margin-top: 120px;
    // height: 20vh;
  }
  #imageBlendSection {
    display: flex;
    justify-content: space-between;
    height: 55vw;
    width: 80vw;
    margin: 10vh;
    background-color: $blackColor;
    border-radius: $borderRadius;
    #blendSectionText {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: $whiteColor;
      p {
        max-width: 80%;
      }
    }
    img {
      height: auto;
      width: 50%;
      border-top-right-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
      -webkit-mask-image: linear-gradient(to left, black 60%, transparent 100%);
      mask-image: linear-gradient(to left, black 60%, transparent 100%);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
    }
  }
  #services {
    background-color: $whiteColor;
    ul {
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      img {
        // margin: 10px 20px;
        width: 5vw;
        height: auto;
        -webkit-mask-image: linear-gradient(300 deg, black 50%, transparent 100%);
        mask-image: linear-gradient(300deg, black 50%, transparent 100%);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
    }
    #docCleaning { //TODO: fade image upwards into icons
      width: 100%;
      height: auto;
      -webkit-mask-image: linear-gradient(to left, black 60%, transparent 100%);
      mask-image: linear-gradient(to left, black 60%, transparent 100%);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100% 100%;
      mask-size: 100% 100%;
    }
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  p {
    font-family: Arial, Helvetica, sans-serif;

    span {
      font-weight: bold;
    }
  }
}