$yellowColor: #fbb32d;
$orangeColor: #fc6107;

#siteHeader {
  display: flex;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100vw;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 120px;
  background: white;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  img {
    height: 95%;
    width: auto;
  }
  img:hover {
    cursor: pointer;
  }
  h1 {
    transition: all .3s ease-out;
  }
}
#siteHeader.shrink {
  height: 60px;
  padding: 5px 10px;
  h1 {
    transform: scale(0.95); /* optional mini effect */
  }
}
main {
  height: 200vh;
  background-image: radial-gradient(circle, $yellowColor, $orangeColor);
  #spacer {
    font-size: 1px;
  }
  #intro {
    margin-top: 120px;
    height: 20vh;
  }
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  p {
    font-family: Arial, Helvetica, sans-serif;

    span {
      font-weight: bold;
    }
  }
}